{{ define "text/index.tmpl" }}
<!doctype html>
<html>
  <head>
    <title>tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" type="text/css" href="public/css/main.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="public/img/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="public/img/favicon-32x32.png" />
  </head>

  <body>
    <h2>{{ .message }}</h2>
  </body>
</html>

{{ end }}
