<!doctype html>
<html>
  <head>
    <title>tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon-32x32.png" />
    <script type="module" src="/public/js/main.js"></script>
  </head>

  <body>
    <div class="page-grid">
      <header class="page-header" data-hamburger-state="closed">
        <div class="header-logo">
          <img src="/public/img/purple-fill-black-outline.png" />
          <h1>Header</h1>
          <div class="hamburger-buttons">
            <button id="hamburger-open-button">
              <div class="hamburger-open-button-icon" />
            </button>
            <button id="hamburger-close-button" class="hamburger-close-button-icon"></button>
          </div>
        </div>
        <menu>
          <li aria-current="page" class="active"><a href="#">Home</a></li>
          <li><a href="#">Page-2</a></li>
        </menu>
        <menu class="align-right">
          <li>
            <input id="color-scheme-toggle" type="checkbox" checked="checked" />
          </li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Login</a></li>
        </menu>
      </header>

      <section class="page-hero">
        <div class="hero-container">
          <img src="https://fastly.picsum.photos/id/82/1280/320.jpg?hmac=0H9o4HwX55hr5YG8toBJVigMdy5_H2zFjo5Oy_ExLD0" />
          <div>tools</div>
        </div>
      </section>

      <section class="page-breadcrumbs">
        <menu class="breadcrumbs">
          <li>
            <a href="#"><span class="breadcrumb-home-icon" /></a>
          </li>
          <li><a href="#">Bread</a></li>
          <li><a href="#">Crumb</a></li>
          <li>Page</li>
        </menu>
      </section>

      <main class="content-grid">
        <nav class="left-nav">
          <menu>
            <li>
              <a href="#">Group-1</a>
              <menu>
                <li><a href="#">Item-1</a></li>
                <li><a href="#">Item-2</a></li>
              </menu>
            </li>
          </menu>
        </nav>
        <article class="page-content">
          {{template "content" .}}
        </article>
      </main>
      <footer class="page-footer">
      </footer>
    </div>
  </body>
</html>
