{{define "title"}}HTML Decode{{end}} {{define "content"}}
<h2>HTML Decode</h2>

<style type="text/css">
    textarea {
        background-color: #dedede;
        color: black;
        height: 12rem;
        width: 100%;
        margin-bottom: 1rem;
    }

    button {
        background-color: var(--color-accent);
        height: 2rem;
        width: 100%;
        margin-bottom: 1rem;
    }
</style>

<div>
    <form hx-post="/text/html-decode" hx-target="#results">
        <textarea name="textarea1"></textarea>
        <button type="submit">Click</button>
    </form>
    <div id="results"></div>
</div>
{{end}}
